@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body {
	font-family: "Nanum Gothic","Helvetica Neue","Roboto", Helvetica, Arial, sans-serif;

	font-size:large;
	line-height: 2em;
}

.navbar-default {
	background:rgba(0,0,0,0.6);
	border:none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background:rgba(0,0,0,0.7);
	color:white;
}

.navbar-default .navbar-brand {
	color:#ccc;
}

.navbar-default .navbar-nav>li>a {
	color:#ccc;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
	color:white;
}

h1, h2, h3, h4, h5, h6 {
	font-family : "Helvetica Neue","Roboto", Helvetica, Arial, sans-serif;
	font-weight:100;
}

h1 strong {
	font-weight:400;
}

div.block {

	padding-bottom:50px;
	
}

div.block:last-child {
	margin-bottom:200px;
}

div.block div.hgroup {
	padding:50px 0px 70px;
	text-align: center;

}

div.block div.hgroup hr {
	border-bottom:1px solid #aaa;
	width:100px;
	margin:20px auto;
}

div.block div.hgroup h1 {
	font-size:2.5em;
	/* color:rgb(67,148,248); 
	color:rgb(205,138,44);
	*/
	color:#cc8033;
}
div.block div.hgroup h3 {
	font-family: "Helvetica Neue","Roboto", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:1em;

}

div.jumbotron {
	padding:50px 0px 30px;
}

@media (min-width: 768px) {
	div.jumbotron {
		padding:120px 0px 80px;
	}
}


div.jumbotron {
	text-align: center;
	color:white;
	background-image: url('../img/likelion.jpg');
	background-repeat:no-repeat;
	background-position:center; 
	background-size:100%;
	margin:0px 0px 100px;
	position:relative;
	
}


.block a:not(.btn) {
	font-weight:inherit;
	color:#555;
	text-decoration: underline;
}

.block a:not(.btn):hover {
	color:#333;	
}

.panel .panel-heading a {
	text-decoration: none;
	display: block;
}

.container {
	text-align:justify;
}

.no-border {
	border:none;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



@media (min-width: 1200px){
	body>hr {
		width: 770px;
	}	
}


@media (min-width: 992px){}
	body>hr {
		width: 770px;
	}
}
@media (min-width: 768px){
	body>hr {
		width: 550px;
	}
}

body>hr {
	margin:20px auto;
}


.font-gothic {
	font-family: "Nanum Gothic","Helvetica Neue","Roboto", Helvetica, Arial, sans-serif;
	
}

h3.font-gothic, h4.font-gothic {
	font-weight:bold;
}

iframe {
	width:100%;
	height:550px;
	margin:0px;
	border:0px;
}

div.icon-large {
	margin-top:20px;
	margin-bottom:10px;
}

div.icon-large span.glyphicon {
	font-size:36px;
}

div.block#recruit {
	margin-bottom:200px;
}

hr {
	clear:both;
}

#feat {
	position:absolute;
	right:10px;
	bottom:5px;
	font-size:.7em;
	color:white;
	font-weight:100;
	font-family:"Helvetica Neue","Roboto", Helvetica, Arial, sans-serif;
}

#feat img {
	height:2em;
}

.block .panel-body a {
	text-decoration: none;
}
.block .panel-body a:hover {
	text-decoration: underline;
}

div.fb-like-box {
	margin:50px auto;
	max-height:90%;
	
}

span.glyphicon {
	color:#3cc;
}

.btn-warning {
	background-color:#3cc;
	border-color:rgba(0,0,0,0.1);
}

.btn-warning:hover {
	background-color:#2bb;
	border-color:rgba(0,0,0,0.1);
}